.Rproj.user
.Rhistory
.RData
.Ruserdata

# Output files 
aw-conf1.*
aw-sum1.*
figout1.*
*.out
f90/Allout

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
